requirements.txt
.vscode/settings.json
__pycache__/main.cpython-312.pyc
outputs/run_1786610547/config/normalized_config.json
outputs/run_1786612230/config/input_config.toml
outputs/run_1786612230/config/normalized_config.json
outputs/run_1786612230/data/candidate_sets.json
outputs/run_1786612230/data/map_arrays.npz
outputs/run_1786612230/data/map_metadata.json
outputs/run_1786612230/data/od_records.json
outputs/run_1786612230/data/primitive_summary.json
outputs/run_1786612230/traces/candidate_attempts.jsonl
src/__pycache__/__init__.cpython-312.pyc
src/__pycache__/__init__.cpython-313.pyc
src/__pycache__/candidate_gen.cpython-312.pyc
src/__pycache__/candidate_gen.cpython-313.pyc
src/__pycache__/combination.cpython-312.pyc
src/__pycache__/combination.cpython-313.pyc
src/__pycache__/config.cpython-312.pyc
src/__pycache__/config.cpython-313.pyc
src/__pycache__/finalize.cpython-312.pyc
src/__pycache__/finalize.cpython-313.pyc
src/__pycache__/geometry.cpython-312.pyc
src/__pycache__/geometry.cpython-313.pyc
src/__pycache__/io_utils.cpython-312.pyc
src/__pycache__/io_utils.cpython-313.pyc
src/__pycache__/launcher.cpython-312.pyc
src/__pycache__/launcher.cpython-313.pyc
src/__pycache__/map_generation.cpython-312.pyc
src/__pycache__/map_generation.cpython-313.pyc
src/__pycache__/motion_primitives.cpython-312.pyc
src/__pycache__/motion_primitives.cpython-313.pyc
src/__pycache__/od_sampling.cpython-312.pyc
src/__pycache__/od_sampling.cpython-313.pyc
src/__pycache__/optimize.cpython-312.pyc
src/__pycache__/optimize.cpython-313.pyc
src/__pycache__/precompute.cpython-312.pyc
src/__pycache__/precompute.cpython-313.pyc
src/__pycache__/sparsify.cpython-312.pyc
src/__pycache__/sparsify.cpython-313.pyc
src/__pycache__/types.cpython-312.pyc
src/__pycache__/types.cpython-313.pyc
src/__pycache__/visualization.cpython-312.pyc
src/__pycache__/visualization.cpython-313.pyc
